gradio
# .env_example file support
python-dotenv>=1.0.1

# LangGraph core
langgraph>=0.0.17

# LangChain core and tool system
langchain>=0.1.16
langchain-core>=0.1.43
langchain-community>=0.0.35
langchain-google-genai>=0.0.4
langchain-groq>=0.0.1
langchain-huggingface>=0.0.5

# Vector store + retriever
supabase>=2.3.4
pgvector>=0.2.4
sentence-transformers>=2.2.2
huggingface-hub>=0.23.0

# Web & academic document search
tavily-python>=0.3.0
wikipedia-api>=0.6.0
arxiv>=1.4.6

# Supporting utilities
requests>=2.31.0
